/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
body {
    margin: 0 auto;
    padding: 0px;
    display: block;
    line-height: 0px;

}

.top-header {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #3182C1;
}

ul li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
    // margin: 20px;
    font-weight: normal;
}

li a {
    color: #3182C1;
    list-style: none;
    border-style: none;
    text-decoration: none;
    font-size: 14px;
}

li > a:hover {
    border-bottom: 2px solid #3182C1;
    color: #3182C1;
    list-style: none;
    font-weight: bold;

}

.left-container {
    width: 30%;
    height: 800px;
    background-color: rgb(249, 250, 253);;
    border-bottom: 1px solid #3182C1;
}

.row {
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    padding: 0px 2px 0px 2px;
}

.right-container {
    margin: 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
    border: 1px solid #3182C1;
}

//    .widgets-row1{
//        margin: 0 auto;
//        padding: 0px;
//        width:100%;
//        max-height: 450px;
//        background-color: #3182C1;
//        border: 1px solid rgb(231, 45, 45);

//    }

.widget-list-icon {

    display: inline;
    border-radius: 6px;
    margin: 0px;
    top: 4px;
    padding: 8px 0px 2px 2px;
    //border: 1px solid #1574B1;
    box-sizing: border-box;

}

.fa-icon-th.active {
    background-color: black;
}

.fa-icon-th {
    line-height: normal;
    border-radius: 5px 0px 0px 5px;
}

.fa-icon-list {
    line-height: normal;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
}

.fa-icon-th:focus {
    // background-color:black;
    border-style: none;
}

.myinput {
    display: inline;
    margin: 2px auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px 2px lightslategray;
    background-color: rgb(253, 249, 249);

    box-sizing: border-box;

}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    padding-left: -20px;

}

.nav-tabs .nav-link.active {
    background-color: black;
    border-radius: 5px;
    border-color: #dee2e6 #dee2e6 #fff;
}

input {

    font-family: inherit;
    font-size: 13px;
    line-height: 11px;
    color: #1574B1;
    line-height: 20px;

}

select {
    font-size: 13px;
    font-weight: inherit;
    line-height: 20px;
}

option {
    line-height: 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 12px;
    color: #1574B1;
    font-weight: inherit;

}

label {
    font-size: 13px;
}

.fa-search {
    line-height: 20px;
    font-weight: normal;
    font-size: 18px;
}

button > .fa-search {
    line-height: 20px;
    font-weight: normal;
    font-size: 18px;
    left: 5px;
}

button {
    line-height: 17px;

    font-size: 13px;
    font-weight: normal;
    background-color: none;
    color: #000;
}

//    .widgets-row1{

//        margin: 0px;
//        padding: 0px;
//        width:100%;
//        height: 700px;
//        border: 1px solid #3182C1;
//        overflow: auto;
//    }
.widgets {
    position: relative;
    margin: 20px 0px 15px 30px;
    padding-bottom: 15px;
    width: 360px;
    // width:auto;
    height: 415px;
    // height: auto;
    background-color: rgb(245, 244, 244);
    border: 1px solid #3182C1;
    float: left;
    border-radius: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.widgets:hover {

    box-shadow: 3px 5px 10px #3182C1;
    // cursor:pointer;
}

a {
    color: #004d99;
    font-size: 15px;
    // font-style:italic;
    font-weight: normal

}

a:hover {
    color: #004d99;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;

}

// model start
.custom-menu {
    position: relative;
    width: 100%;
    float: right;
    padding: 0px 7px 10px 7px;
    height: 30px;
    font-size: 11px;
    border: 2px solid rgb(245, 244, 244)
}

#myModal {
    //position:absolute;
    top: 10%;

}

.modal-lg {
    max-width: 85%;
}

.modal-body {
    width: 100%;
    height: 700px;
    padding: 10px;
    background-color: rgb(245, 244, 244)
}

.row.modal-row {
    position: relative;
    width: 100%;
    height: 780px;
    padding-top: 0px;
    border: 13px solid 004 d99;
    border-radius: 15px;
    padding: 10px;
    background-color: red;
}

.left-pannel {
    display: inline;
    position: absolute;
    width: 90%;
    height: 680px;
    padding: 0px;
    overflow-y: scroll;
    background-color: rgb(245, 244, 244);
    border-top: 2px solid #004d99;
    border-right: 2px solid #004d99;
    border-bottom: 1px solid #004d99;
    border-left: 1px solid rgb(122, 122, 122)
}

.search-widget {
    width: 100%;
    height: 50px;
    background-color: #004d99;
    color: #fff;
    text-align: center;
    padding-top: 10px
}

.mylist-pannel {
    width: 100%;
    cursor: all-scroll;
    height: auto;
    background-color: #fff;
    text-align: left;
    padding: 10px
}

.right-pannel {
    display: inline;
    position: relative;
    width: 1000px;
    height: 680px;
    overflow-y: scroll;
    background: #fff;
    padding: 0px;
    border-top: 1px solid #004d99;
    border-right: 1px solid #004d99;
    border-bottom: 1px solid #004d99;
    //border-left: 2px solid #004d99;
}

.top-head {
    width: 100%;
    height: 50px;
    background-color: #004d99;
    color: #fff;
    text-align: left;
    padding: 10px
}

.close-inner {
    //width:18px;
    //height:18px;
    background-color: #fff;
    color: rgb(14, 13, 13);
    //font-size:10px;
    // font-weight: bold
}

p {
    padding: 5px 5px 2px 5px;
    font-size: 11px;
    color: black;
}

// model end
//list view start
.list-row1 {
    margin: 3px;
    padding: 2px;
    width: 100%;
    height: 700px;
    border: 1px solid #3182C1;

}

.list {
    position: relative;
    margin: 0px;
    padding: 20px 10px 10px 10px;
    width: 100%;
    max-height: 800px;
    overflow-x: auto;

    background-color: rgb(255, 255, 255);
    //border: 1px solid #3182C1;
    //float: left;
    border-radius: 3px;
    box-sizing: border-box;

}

ul > li.list-group-item {
    margin: 0px;
    border-bottom: 1px solid #3182C1;
}

.list-group-item {
    padding: 0px;
    border-style: none;
}

.list-header {
    background: #1574B1;
    border-radius: 5px 5px 0px 0px;

}

.header-title {
    text-align: center;
    //cursor: pointer;
    font-family: open-sans-light;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    line-height: 25px;
    //left: 30px;
}

.colla {
    padding: 0px 10px 0px 0px;
    background-color: rgb(228, 226, 226);
    // width: 350px;
    //height: 30px;
    // border-right:1px solid grey;
    float: left;
    text-align: left;
    //cursor: pointer;
    font-family: open-sans-light;
    font-size: 14px;
    color: #660000;
    font-weight: bold;
    line-height: 30px;
}

.img-css {
    width: 186px;
    height: 175px;
}
   
