
   

    
    <!--listview-->
    <div class="tab-pane" id="list" role="tabpanel">
         
          <div clas="container list-row1">

                  <div clas="row inner-row">
  
                      <div class="col-lg-12 list">
  
                          <div class="list-header">
  
  
                              <div class="row col-lg-12 ">
  
                              
                                  <div class="col-lg-6 header-title">Category
                                      <span class="caret"></span>
                                  </div>
  
                              </div>
                          </div>
                          <ul class="list-group ">
  
                              <li class="list-group-item">
  
                                  <div class="container col-lg-12 ">
  
  
                                      <div class="col-lg-2 collab pull-left">
                                          <span class="collap">
                                              <a href="#demo1" data-toggle="collapse">
                                                  <i class="fa fa-plus-square-o" style="font-size:20px;padding-top: 5px;"></i>
                                              </a>
                                          </span>&nbsp;
                                      </div>
                                     
                                     
                                      <div class="col-lg-10 colla">
  
                                          Risk
                                        
                                      </div>
  
                                      <div id="demo1" class="collapse">
                                          <div class="colla2" style="margin-left:310px;">
                                              <a href="https://tabwmuqa-na.ms.com/t/WMAIDT-QA/views/MWMWidget/BranchWidget">BMR FA-Risk </a><br>
                                              <a href="https://tabwmuqa-na.ms.com/t/WMAIDT-QA/views/MWMWidget/BranchWidget">FA Profile Search</a>
                                          </div>
  
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
  
                                  <div class="container col-lg-12 ">
  
  
                                      <div class="col-lg-2 collab pull-left">
                                          <span class="collap">
                                              <a href="#demo2" data-toggle="collapse">
                                                  <i class="fa fa-plus-square-o" style="font-size:20px;padding-top: 5px;"></i>
                                              </a>
                                          </span>&nbsp;
                                      </div>
                                     
                                     
                                      <div class="col-lg-10 colla">
  
                                          AMD
                                         
                                      </div>
  
                                      <div id="demo2" class="collapse">
                                          <div class="colla2" style="margin-left:310px;">
                                              <a href="https://tabwmuqa-na.ms.com/t/WMAIDT-QA/views/MWMWidget/BranchWidget">MWM </a><br>
                                              <a href="https://tabwmuqa-na.ms.com/t/WMAIDT-QA/views/MWMWidget/BranchWidget">Wealth Management Flash</a>
                                          </div>
  
                                      </div>
                                  </div>
                              </li>
 
  
                          </ul>
  
                      </div>
  
  
                  </div>
              </div>
        </div>
 